<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot web service</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>
<body>
    <h1>Web service with spring boot2</h1>
</body>
</html>